apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "trivy-operator.fullname" . }}
  namespace: {{ include "trivy-operator.namespace" . }}
  {{- with .Values.operator.annotations }}
  annotations: {{- toYaml . | nindent 4 }}
  {{- end }}
  labels:
    {{- include "trivy-operator.labels" . | nindent 4 }}
    {{- with .Values.operator.labels }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  replicas: {{ .Values.operator.replicas }}
  {{- with .Values.operator.revisionHistoryLimit }}
  revisionHistoryLimit: {{ . }}
  {{- end }}
  strategy:
    type: Recreate
  selector:
    matchLabels: {{- include "trivy-operator.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/configmaps/trivy-operator-config.yaml") . | sha256sum }}
        {{- with .Values.podAnnotations }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        {{- include "trivy-operator.selectorLabels" . | nindent 8 }}
        {{- with .Values.operator.podLabels }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- if .Values.hostAliases }}
      hostAliases:
        {{- toYaml .Values.hostAliases | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "trivy-operator.serviceAccountName" . }}
      automountServiceAccountToken: {{ .Values.automountServiceAccountToken }}
      containers:
        - name: {{ .Chart.Name | quote }}
          image: "{{ include "global.imageRegistry" . | default .Values.image.registry }}/{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          {{- with .Values.image.pullPolicy }}
          imagePullPolicy: {{ . }}
          {{- end }}
          {{- with .Values.operator.command }}
          command: {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.operator.args }}
          args: {{- toYaml . | nindent 12 }}
          {{- end }}
          env:
            - name: OPERATOR_NAMESPACE
              value: {{ include "trivy-operator.namespace" . }}
            - name: OPERATOR_TARGET_NAMESPACES
              value: {{ .Values.targetNamespaces | quote }}
            - name: OPERATOR_EXCLUDE_NAMESPACES
              value: {{ .Values.excludeNamespaces | quote }}
            - name: OPERATOR_TARGET_WORKLOADS
              value: {{ tpl .Values.targetWorkloads . | quote }}
            - name: OPERATOR_SERVICE_ACCOUNT
              value: {{ include "trivy-operator.serviceAccountName" . | quote }}
            {{- with .Values.extraEnv }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
          {{- if .Values.alternateReportStorage.enabled }}
            - name: OPERATOR_ALTERNATE_REPORT_STORAGE_ENABLED
              value: "true"
            - name: OPERATOR_ALTERNATE_REPORT_STORAGE_DIR
              value: {{ .Values.alternateReportStorage.mountPath | quote }}
          {{- end }}
          envFrom:
            - configMapRef:
                name: trivy-operator-config
            {{- if .Values.operator.valuesFromConfigMap }}
            - configMapRef:
                name: {{ .Values.operator.valuesFromConfigMap }}
            {{- end }}
            {{- if .Values.operator.valuesFromSecret }}
            - secretRef:
                name: {{ .Values.operator.valuesFromSecret }}
            {{- end }}
          ports:
            - name: metrics
              containerPort: 8080
            - name: probes
              containerPort: 9090
          readinessProbe:
            httpGet:
              path: /readyz/
              port: probes
            initialDelaySeconds: 5
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 3
          livenessProbe:
            httpGet:
              path: /healthz/
              port: probes
            initialDelaySeconds: 5
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 10
          {{- with .Values.resources }}
          resources: {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.securityContext }}
          securityContext: {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- if or .Values.volumeMounts .Values.alternateReportStorage.enabled .Values.operator.customConfigMap.create .Values.operator.customConfigMap.existingConfigMap }}
          volumeMounts:
          {{- with .Values.volumeMounts }}
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- if .Values.alternateReportStorage.enabled }}
            - name: {{ .Values.alternateReportStorage.volumeName }}
              mountPath: {{ .Values.alternateReportStorage.mountPath }}
          {{- end }}
          {{- if or .Values.operator.customConfigMap.create .Values.operator.customConfigMap.existingConfigMap }}
            - name: custom-configmap
              mountPath: {{ .Values.operator.customConfigMap.mountPath }}
              readOnly: true
          {{- end }}
          {{- end }}
      {{- with .Values.image.pullSecrets }}
      imagePullSecrets: {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if or (not (empty .Values.podSecurityContext)) .Values.alternateReportStorage.enabled }}
      securityContext:
      {{- with .Values.podSecurityContext }}
        {{ toYaml . | nindent 8 }}
      {{- end }}
      # ── but only add runAsUser/fsGroup if alternateReportStorage is on ─────────
      {{- if .Values.alternateReportStorage.enabled }}
        runAsUser: {{ .Values.alternateReportStorage.podSecurityContext.runAsUser }}
        fsGroup:   {{ .Values.alternateReportStorage.podSecurityContext.fsGroup }}
      {{- end }}
      {{- end }}
      {{- if or .Values.volumes .Values.alternateReportStorage.enabled .Values.operator.customConfigMap.create .Values.operator.customConfigMap.existingConfigMap }}
      volumes:
      {{- with .Values.volumes }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.alternateReportStorage.enabled }}
        - name: {{ .Values.alternateReportStorage.volumeName }}
          persistentVolumeClaim:
            claimName: {{ .Values.alternateReportStorage.volumeName }}
      {{- end }}
      {{- if or .Values.operator.customConfigMap.create .Values.operator.customConfigMap.existingConfigMap }}
        - name: custom-configmap
          configMap:
            name: {{ if .Values.operator.customConfigMap.existingConfigMap }}{{ .Values.operator.customConfigMap.existingConfigMap }}{{ else }}{{ include "trivy-operator.fullname" . }}-custom{{ end }}
            defaultMode: {{ .Values.operator.customConfigMap.defaultMode }}
      {{- end }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector: {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity: {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations: {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.priorityClassName }}
      priorityClassName: {{ . }}
      {{- end }}
