{{- if .Values.trivy.registryCredentials.create }}
{{- $username := .Values.trivy.registryCredentials.username }}
{{- $password := .Values.trivy.registryCredentials.password }}
{{- $registry := .Values.trivy.registryCredentials.registry }}
{{- $auth := printf "%s:%s" $username $password | b64enc }}
{{- $dockerConfig := dict "auths" (dict $registry (dict "username" $username "password" $password "auth" $auth)) }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.trivy.registryCredentials.secretName }}
  namespace: {{ include "trivy-operator.namespace" . }}
  labels: {{- include "trivy-operator.labels" . | nindent 4 }}
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: {{ $dockerConfig | toJson | b64enc }}
{{- end }}
